<div id="main-forms">
  <form action="" [formGroup]="form">
    <label for="nome" class="solo_label">Nome</label>
    <input type="text" id="nome" formControlName="nome">

    <label for="dataNascimento" class="solo_label">Data de Nascimento</label>
    <input type="date" id="dataNascimento" formControlName="dataNascimento">

    <label for="status" class="solo_label">Status</label>
    <div class="radio-button">
      <input type="radio" id="ativo" name="inativo" value="1" formControlName="inativo">
      <label for="ativo">Ativo</label>
      <input type="radio" id="inativo" name="inativo" value="0" formControlName="inativo">
      <label for="inativo">Inativo</label>
    </div>

    <label for="nacionalidade" class="solo_label">Nacionalidade</label>
    <select id="nacionalidade" formControlName="nacionalidade" >
      <option value="1">1 - Brasil</option>
      <option value="2">2 - Outros</option>
    </select>

    <div *ngIf="form.get('nacionalidade')?.value != '1'">
      <label for="passaporte" class="solo_label">Passaporte</label>
      <input type="text" id="passaporte" formControlName="passaporte">
    </div>

    <div *ngIf="form.get('nacionalidade')?.value == '1'">
      <label for="rg" class="solo_label">RG</label>
      <input type="text" mask="00.000.000-0" id="rg" formControlName="rg">
    </div>

    <div class="botoes">
      <button [disabled]="!form.valid" (click)="CadastrarPessoa()" [ngClass]="enableButton()">Salvar</button>
      <button type="button" (click)="resetForm()">Limpar</button>
    </div>

  </form>
</div>
