<div id="main-lista-pessoas">
  <div class="buscar-pessoas">
    <input type="search" class="filtro" placeholder="Pesquisar nome..." autofocus [(ngModel)]="filter" (keyup)="procurarPessoas()">
  </div>

  <p>Lista de pessoas cadastradas</p>

  <table>
    <thead>
        <tr>
          <th>Codigo</th>
          <th>Nome</th>
          <th>Data de nascimento</th>
          <th>Status</th>
          <th>Nacionalidade</th>
          <th>RG</th>
          <th>Passaporte</th>
          <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pessoa of pessoas">
          <td>{{ pessoa.Codigo }}</td>
          <td>{{ pessoa.Nome }}</td>
          <td>{{ pessoa.DataNascimento | date : 'dd/MM/yyyy' }}</td>
          <td>{{ pessoa.Inativo ? 'Inativo' : 'Ativo' }}</td>
          <td>{{ pessoa.Nacionalidade === 1 ? 'BR' : 'Outros' }}</td>
          <td>{{ pessoa.RG }}</td>
          <td>{{ pessoa.Passaporte }}</td>
          <td>
            <div routerLink="/Alterar/{{ pessoa.Codigo }}" class="detail-button">
              Clique aqui!
              <i class="fa-solid fa-magnifying-glass-plus"></i>
            </div></td>
        </tr>
    </tbody>
  </table>

</div>
