#main-header{
  width: 60%;
  background-color: #ffdead;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px auto;
  border-radius: 20px;
}

#main-header ul{
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}

#main-header li{
  list-style:none;
  align-content: center;
  text-align: center;
  width: 140px;
  height: 40px;
}

#main-header li:hover{
  cursor: pointer;
  background-color: #c1c1c1;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
  filter: brightness(1.1);
  border-radius: 50px;
}
